.pragraf1{
    margin-left: 500px;
  margin-top: -350px;
font-size: larger;

}
.pragrfaf2{
    font-weight: 1000;
    font-size: larger;
    font-family: fantasy;
    margin-left: 800px;
    margin-block: 200px;

}  
.pragrfaf3{
    font-weight: 2000;
    font-size: larger;
    font-family: fantasy;
    margin-left: 800px;
    margin-block: 200px;
    margin-top:  -170px;

}  
.pragrfaf4{
    font-weight: 1000;
    font-size: larger;
    font-family: fantasy;
    margin-left: 800px;
    margin-block: 100px;
    margin-top:  -1490px;

}  
.pragrfaf5{
    font-weight: 2000;
    font-size: larger;
    font-family: fantasy;
    margin-left: 800px;
    margin-block: 200px;
    margin-top:  -90px;

}
.pragrfaf6{

    font-weight: 2000;
    font-size: larger;
    font-family: fantasy;
    margin-left: 800px;
    margin-block: 200px;
    margin-top:  -190px;

}
.pragrfaf7{
    font-weight: 2000;
    font-size: larger;
    font-family: fantasy;
    margin-left: 800px;
    margin-block: 200px;
    margin-top:  -190px

}